<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Practice Quiz</title>
	<link type='text/css' rel='stylesheet' href='css/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fanwood+Text:400,400italic' rel='stylesheet' type='text/css'>
</head>
	<body>
<div id="wrapper">
  <div id="hero">
    <div class="header">
    <!-- DO A CSS TRANSITION FOR THE HEADER -->
      <h1> Party L/nes </h1>
    </div>
  </div>
  <div id="something">
    <h2> If nothing goes right for you , go left.</h2>
    <p> Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>
  </div>
  <div id="footer">
    <p> I am the footer, and you have scroll down to see me.</p>
  </div>
</div>
    <!-- Copy & Pasted from YouTube -->
    <!-- The width and height here are ignored, and can actually be removed -->
<!--     <iframe width="560" height="315" src="https://www.youtube.com/v/IjUbuynlXiw?autohide=1&autoplay=1&controls=0&loop=1&showinfo=0&playlist=IjUbuynlXiw" frameborder="0" allowfullscreen></iframe> -->


	<header><h1>Party Lines</h1><header>
    <div class='intro'>
    <p>Republicans and Democrats are more divided along ideological lines than at any point in the last two decades. These trends manifest themselves in myriad ways, both in politics and in everyday life. According to a survey of 10,000 adults nationwide finds that these divisions are greatest among those who are the most engaged and active in the political process. SOMETHING ELSE Animosity between the two parties has increased in these two decades. <div id="test" style="height: 30px; width: 120px;"></div> <div id="test2" style="height: 30px; width: 120px;"></div>In each party, the share with a highly negative view of the opposing party has more than doubled since 1994. Most of these intense partisans believe the opposing party’s policies “are so misguided that they threaten the nation’s well-being.” So what has lead to this divide among the parties? Do we ___________ that we ______________</p></div>
		<div class='container'>
			<div id='title'>
				<h1>Party Quiz</h1>
			</div>
   			<br/>
            <div id='score'></div>
  			<div id='quiz'></div>
    		<button id='agree' class ='choiceButton' value='agree'>Agree</button>
            <button id='disagree' class ='choiceButton' value='disagree'>Disagree</button>
            </div>
	        <div id="results"></div>  
    	</div>
    	<div id='container'>
    		<div id='point_one'>
    			<h2>The two parties purified themselves ideologically</h2>
    			<p>There was once a time when Republican lawmakers counted a good number of liberals among them, and Democrats enjoyed the membership of many conservatives. Yet now, the two parties are purer -- and further apart --  than at any time since the end of Reconstruction. The Republicans are more conservative than the Democrats are liberal, but both parties have much less diversity of ideology than they had in the past. You can see that in this chart, which shows where an average lawmaker in each party fell on the left-right spectrum, based on their voting records, in every Congress since 1879. Higher means more conservative, lower means more liberal.Three features jump out from the graph. First, the graph narrows in the middle, indicating that the period from about 1930 to 1980 was unusual because both parties were about as centrist as they’d ever been. There were some conservative Democrats (especially in the South) and some liberal Republicans (especially in the Northeast). Second, the graph diverges on the right, showing the steadily increasing gulf separating the two parties since about 1980. The parties became ideologically pure: Conservative Democrats and liberal Republicans disappeared, and almost all centrists are gone, too. And finally, there is an asymmetry on the right side of the graph: The Republicans have moved further and faster to the right than the Democrats have moved to the left.</p>
    		</div>

    	    <div id='point_two'>
    			<h2>As politicians polarized, so did many Americans</h2>
    			<p>Before the 1980s, if you knew which party an American voted for, you couldn’t predict very well whether the person held liberal or conservative views. This chart shows the degree to which identification with a party correlates with a person’s self-placement on the liberal-conservative spectrum. If there were no relationship, the “correlation coefficient” would be zero. If there were a perfect relationship, it would be 1. In 1972, it was 0.32, but it has nearly doubled since then, to 0.62 in 2012, which is considered strong.But it wasn’t just by ideology that Americans were sorting themselves into the two parties. It was increasingly by their personalities and lifestyles. Liberals and conservatives dress differently, decorate their rooms differently, read different books, take different vacations and drink different alcoholic beverages. As the differences between supporters of the two parties became ever more pervasive and ever more visible to the naked eye, it became easier to spot members of the other team and then dislike them for the way they live.</p>
    		</div>

    	    <div id='point_three'>
    			<h2>The urban-rural divide grew into a gulf, reflecting diverging interests and values</h2>
    			<p>As the parties and their supporters were purifying, the new left-right dimension came increasingly to map onto the urban-rural dimension. The Democratic Party was historically an agrarian party with its power base in the South. But with the political purification of the parties, the Democrats have become the urban party, focused on issues of concern to city dwellers and expressing more cosmopolitan and secular values. Rural areas, meanwhile, shifted toward the Republican Party. The GOP became much more hospitable to rural interests and values, which tend to be more religious, patriotic and family-oriented.</p>
    		</div>

    	    <div id='point_four'>
    			<h2>Immigration was rising, leading to larger racial and ethnic divisions</h2>
    			<p>The nation greatly reduced immigration in the years before and after World War I. In the decades that followed, the percentage of immigrants living in the United States plummeted, as shown by the red dots on the chart. The blue line shows the degree of polarization in the House, which rose along with the increasing percentage of the foreign-born population when the country reopened its borders beginning in the 1960s.The broad shape of the polarization curve owes far more to the realignment of parties than it does to immigration. But a basic principle in social psychology is that people will divide themselves up quite readily based on the most trivial distinctions. Ethnic and racial distinctions are far from trivial, and many social scientists have noted that ethnic uniformity makes it easier for groups to reach agreement. The realignment of the parties has led to an increasing division by race, with the Republican Party becoming increasingly white.</p>
    		</div>

    	    <div id='point_five'>
    			<h2>The net effect of all these trends is that partisans dislike one another more intensely</h2>
    			<p>Political parties have always represented classes, regions and industries with diverging interests, which must negotiate to find win-win compromises. But when you look at these trends together, you see that the parties have come to represent not just diverging material interests but different kinds of people with different moral values and ways of living. As these divisions have intensified, Americans have come to hate the other party and its members more and more. You can see that in the graph below. Every two years, the American National Election Survey asks a representative sample of Americans to say how they feel about many groups and institutions in American life. They give numbers using a scale that runs from zero (very cold, strong dislike) through 50 (neutral) to 100 (very warm, strong liking). The top two bars below show how Democrats (in blue) feel about the Democratic Party, and how Republicans (in red) feel about the Republican Party. As you can see, those lines show no real trends over time – people generally feel positively about their own party.But the feelings toward the opposite party have been trending down since 1980, and especially since 2000. Democrats now really dislike the GOP and the people who support it. Republicans feel the same way about Democrats. The rising cross-partisan hostility injects partisan morality into more and more issues, and it puts pressure on lawmakers to not compromise.</p>
    		</div>

    	    <div id='point_six'>
    			<h2>Meanwhile, rule changes and culture changes in Congress made it harder to maintain cross-party friendships</h2>
    			<p>When the Republicans took over the House in 1995, Newt Gingrich made a variety of changes to an institution that Democrats had dominated for 40 years. One of the biggest changes was encouraging new members not to move to Washington, where they were likely to become more moderate as they (and their families) befriended members on the other side. Gingrich even changed the legislative calendar so that most work got done midweek, allowing members to fly in and out two or three days later.Nowadays, few members of Congress live in Washington. Some share an apartment with other members of their party when in town; others just sleep in their offices. With so little weekend or after-hours socializing, the effect on cross-party social relationships has been devastating. The increasingly bitter culture of the House then moved to the Senate. A second major change, made in 1995, was that the seniority system for committee chairmen and positions was eliminated. Chairmen and ranking members were henceforth assigned by the party leadership based on their commitment and loyalty to the party. This made it much more costly for members of Congress to buck party leadership and work with a partner on the other side. Gaining power now required everyone to tow a party line, not pragmatism and negotiation. Successful politicians are often extraordinarily skilled socially, and those skills help in the difficult work of forging compromises. But when politicians don’t get to use those skills, the system breaks down. It’s like trying to keep a very complicated machine running, but suddenly draining it of all lubrication. The descriptions of long-serving members are consistent in describing the dramatic changes that have made it harder to work across the aisle.</p>
    		</div>

    	    <div id='point_seven'>
    			<h2>The media environment changed, making it easier for partisans to confirm their worst</h2>
    			<p>suspicions, and putting greater pressure on politicians to play to the extremes American newspapers were quite partisan for most of history. But with the emergence of television in the post-war years, and with the popularity of newscasters such as Walter Cronkite, the nation had a few decades in which most Americans got the same news from the same few sources, particularly the three national television networks.All that changed with the advent of cable television in the 1980s and the Internet in the 1990s. Now Americans can choose from hundreds of partisan news sources, many of which care more about arousing emotions than hewing to journalistic standards. This proliferation of sources interacts with the most notorious problem in human cognition: the confirmation bias. People rarely seek out evidence on both sides before making a decision on moral and political matters. Rather, they begin with their initial belief and then seek out evidence to confirm it. Nowadays, if you Google the key words of almost any conspiracy theory, about any of the past three U.S. presidents, you’ll find Web sites that offer “evidence” that will allow you to believe the worst. This new and hyper-polarized media environment makes it more difficult for politicians to buck their party line and work across the aisle. The partisan media on their own side will say awful things about them to their own side’s voters, whereas a few words of praise from the other side’s media will not sway voters or donors to support the maverick.</p>
    		</div>

    	    <div id='point_eight'>
    			<h2>As the costs of campaigns increased, politicians have become increasingly afraid of offending their party’s donors</h2>
    			<p>As the media environment has grown more fragmented and polarized, it has become ever more important for incumbents as well as challengers to raise vast sums of money, as shown here.Members of Congress must now devote several hours a day to “dialing for dollars.” The sheer amount of time they spend on this task gives them even less time to form social relationships with members of the other party, and it gives them a stronger incentive to please the big, well-networked donors who fund their party. Moreover, incumbents sometimes worry about being “primaried” out of office for not being sufficiently partisan or ideological. This concern is not new, but it interacts with a trend toward the nationalization of fundraising. Many issue groups now target particular districts, pressuring politicians to please wealthy donors and pressure groups that have more extreme views than the voters in their own districts.</p>
    		</div>

    	    <div id='point_nine'>
    			<h2>When the Soviet Union collapsed, the United States lost a common enemy that had once unified the country</h2>
    			<p>There’s a Bedouin proverb: Me against my brother; me and my brother against our cousin; me, my brother and my cousin against the stranger. From 1939 through 1989, the United States had a rogue’s gallery of heavily armed strangers to unite with in defense of democracy and the homeland. The Cold War began as a bipartisan affair with strong support from both parties. By the 1980s, the parties had clearly split into the hawk party and the dove party, and that split has only deepened. As the parties have purified and moved apart, foreign policy and the proper response to foreign threats has become more divisive.</p>
    		</div>

    	    <div id='point_ten'>
    			<h2>The end of the Cold War coincided with the baton pass from the Greatest Generation to the baby boomers, who may be more prone to hyper-partisanship</h2>
    			<p>Political views of people in their 50s and 60s are strongly affected by the events they experienced in their teens and twenties. The Greatest Generation – shaped profoundly by the two world wars – entered public life psychologically prepared to put national interests above partisanship, particularly when faced with external threats such as the Soviet Union. But as the last members of that generation retired from public life in the 1990s, they passed the baton to a generation whose political instincts were shaped by the internal American culture war that began in the 1960s. The baby boomers developed their political identities by fighting one another. You can see this changing attitude in quotations from two well-known Republicans, below, when asked their thoughts about a newly elected president from the other party.

                “I didn’t vote for him but he’s my president, and I hope he does a good job.”

                -- John Wayne (b. 1907) on the election of John F. Kennedy “I hope he fails.” -- Rush Limbaugh (b. 1951) on the election of Barack Obama

                We don’t mean to suggest that this trend is unique to Republicans – many Democrats had felt the same way about George W. Bush. We simply note that political rhetoric and attitudes toward bipartisanship changed greatly when the generation of George H.W. Bush and Tip O’Neil passed the baton to the generation of Bill Clinton and Newt Gingrich. The older politicians were certainly partisan, but consistent with the Bedouin proverb, they could shift their alliances as threats shifted. Hyper-partisanship might even be defined as “us against them, regardless of whatever threats we all face in common.”
                </p>
    		</div>
    	</div>
    </body>
<script src="http://code.highcharts.com/highcharts.js"></script>    	
<script src="js/quiz.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="js/sparkline.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="js/sparkline2.js" type="text/javascript" charset="utf-8" async defer></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>