<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Psrty L/nes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link type='text/css' rel='stylesheet' href='css/style.css'/>    
    <link href='https://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fanwood+Text:400,400italic' rel='stylesheet' type='text/css'>
</head>
  <body>
    <div id="wrapper">
      <div id="hero">
        <div class="header">
          <h1> Party L/nes </h1>
          <h2>Polarization in America Politics</h2>
        </div>
      </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div id="intro">

  <!--  use this for sparklines-->
<!--   http://omnipotent.net/jquery.sparkline/#s-docs -->
          <p>Republicans and Democrats are more divided along ideological lines than at any point in the last two decades. In each party, the share with a highly negative view of the opposing party has increased <span id="sparkline"></span> 22 percent among Democrats and <span id="sparkline2"></span> 26 percent among Republicans since 1994. Most of these intense partisans believe the opposing party’s policies <a href='http://www.people-press.org/2014/06/12/political-polarization-in-the-american-public/#about-the-data'>"are so misguided that they threaten the nation’s well-being.”</a> The destructive dynamic of recent years is not the result of one or two factors that can be easily reversed. Rather, it is the result of at least eight trends that have played out over the past half-century. Here are the most important things to understand about how Washington became so broken.</p>
        </div> 
       </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div id='point_one'>
    	  <div class ='point-title-one'><h2>The two parties purified themselves ideologically</h2></div>
    	    <p>There was once a time when Republican lawmakers counted a good number of liberals among them, and Democrats enjoyed the membership of many conservatives. Yet now, the two parties are purer -- and further apart --  than at any time since the end of Reconstruction. The Republicans are more conservative than the Democrats are liberal, but both parties have much less diversity of ideology than they had in the past. Conservative Democrats and liberal Republicans disappeared, and almost all centrists are gone, too. The Republicans have moved further and faster to the right than the Democrats have moved to the left.</p>

            <div id="democrat-liberal-bar"></div>
            <br>
            <div id="republican-conservative-bar"></div>

        </div>

    	<div id='point_two'>
    	  <div class ='point-title'><h2>The urban-rural divide grew into a gulf, reflecting diverging interests and values</h2></div>
    	    <p>As the parties and their supporters were purifying, the new left-right dimension came increasingly to map onto the urban-rural dimension. The Democratic Party was historically an agrarian party with its power base in the South. With the political purification of the parties, the Democrats have become the urban party, focused on issues of concern to city dwellers and expressing more cosmopolitan and secular values. Rural areas, meanwhile, shifted toward the Republican Party. The GOP became much more hospitable to rural interests and values, which tend to be more religious, patriotic and family-oriented.</p>
    	</div>

    	<div id='point_three'>
    	  <div class ='point-title'><h2>Immigration was rising, leading to larger racial and ethnic divisions</h2></div>
    	    <p>The nation greatly reduced immigration in the years before and after World War I. In the decades that followed, the percentage of immigrants living in the United States plummeted. The country reopened its borders beginning in the 1960s, the degree of polarization in the House, rose along with the increasing percentage of the foreign-born population. But a basic principle in social psychology is that people will divide themselves up quite readily based on the most trivial distinctions. Ethnic and racial distinctions are far from trivial, and many social scientists have noted that ethnic uniformity makes it easier for groups to reach agreement. The realignment of the parties has led to an increasing division by race, with the Republican Party becoming increasingly white.</p>
    	</div>

    	<div id='point_four'>
    	  <div class ='point-title'><h2>Meanwhile, rule changes and culture changes in Congress made it harder to maintain cross-party friendships</h2></div>
    	    <p>When the Republicans took over the House in 1995, Newt Gingrich made a variety of changes to an institution that Democrats had dominated for 40 years. One of the biggest changes was encouraging new members not to move to Washington, where they were likely to become more moderate as they (and their families) befriended members on the other side.Gingrich even changed the legislative calendar so that most work got done midweek, allowing members to fly in and out two or three days later.Nowadays, few members of Congress live in Washington. Some share an apartment with other members of their party when in town; others just sleep in their offices. With so little weekend or after-hours socializing, the effect on cross-party social relationships has been devastating. The increasingly bitter culture of the House then moved to the Senate. A second major change, made in 1995, was that the seniority system for committee chairmen and positions was eliminated. Chairmen and ranking members were henceforth assigned by the party leadership based on their commitment and loyalty to the party. This made it much more costly for members of Congress to buck party leadership and work with a partner on the other side. Gaining power now required everyone to tow a party line, not pragmatism and negotiation. Successful politicians are often extraordinarily skilled socially, and those skills help in the difficult work of forging compromises. But when politicians don’t get to use those skills, the system breaks down. It’s like trying to keep a very complicated machine running, but suddenly draining it of all lubrication. The descriptions of long-serving members are consistent in describing the dramatic changes that have made it harder to work across the aisle.</p>
    	</div>

    	<div id='point_five'>
    	  <div class ='point-title'><h2>The media environment changed, making it easier for partisans to confirm their worst suspicions, and putting greater pressure on politicians to play to the extremes</h2></div>
            <p>American newspapers were quite partisan for most of history. But with the emergence of television in the post-war years, and with the popularity of newscasters such as Walter Cronkite, the nation had a few decades in which most Americans got the same news from the same few sources, particularly the three national television networks.All that changed with the advent of cable television in the 1980s and the Internet in the 1990s. Now Americans can choose from hundreds of partisan news sources, many of which care more about arousing emotions than hewing to journalistic standards. This proliferation of sources interacts with the most notorious problem in human cognition: the confirmation bias. People rarely seek out evidence on both sides before making a decision on moral and political matters. Rather, they begin with their initial belief and then seek out evidence to confirm it. Nowadays, if you Google the key words of almost any conspiracy theory, about any of the past three U.S. presidents, you’ll find Web sites that offer “evidence” that will allow you to believe the worst. This new and hyper-polarized media environment makes it more difficult for politicians to buck their party line and work across the aisle. The partisan media on their own side will say awful things about them to their own side’s voters, whereas a few words of praise from the other side’s media will not sway voters or donors to support the maverick.</p>

            <div id='liberal-pie-chart'></div>
            <br>
            <div id='conservative-pie-chart'></div>

    	</div>

    	<div id='point_six'>
    	  <div class ='point-title'><h2>As the costs of campaigns increased, politicians have become increasingly afraid of offending their party’s donors</h2></div>
    	    <p>As the media environment has grown more fragmented and polarized, it has become ever more important for incumbents as well as challengers to raise vast sums of money. Members of Congress must now devote several hours a day to “dialing for dollars.” The sheer amount of time they spend on this task gives them even less time to form social relationships with members of the other party, and it gives them a stronger incentive to please the big, well-networked donors who fund their party. Moreover, incumbents sometimes worry about being “primaried” out of office for not being sufficiently partisan or ideological. This concern is not new, but it interacts with a trend toward the nationalization of fundraising. Many issue groups now target particular districts, pressuring politicians to please wealthy donors and pressure groups that have more extreme views than the voters in their own districts.</p>
    	</div>

    	<div id='point_seven'>
    	  <div class ='point-title'><h2>When the Soviet Union collapsed, the United States lost a common enemy that had once unified the country</h2></div>
    	    <p>There’s a Bedouin proverb: Me against my brother; me and my brother against our cousin; me, my brother and my cousin against the stranger. From 1939 through 1989, the United States had a rogue’s gallery of heavily armed strangers to unite with in defense of democracy and the homeland. The Cold War began as a bipartisan affair with strong support from both parties. By the 1980s, the parties had clearly split into the hawk party and the dove party, and that split has only deepened. As the parties have purified and moved apart, foreign policy and the proper response to foreign threats has become more divisive.</p>
    	</div>

    	<div id='point_eight'>
    	  <div class ='point-title'><h2>The end of the Cold War coincided with the baton pass from the Greatest Generation to the baby boomers, who may be more prone to hyper-partisanship</h2></div>
    	    <p>Political views of people in their 50s and 60s are strongly affected by the events they experienced in their teens and twenties. The Greatest Generation – shaped profoundly by the two world wars – entered public life psychologically prepared to put national interests above partisanship, particularly when faced with external threats such as the Soviet Union. But as the last members of that generation retired from public life in the 1990s, they passed the baton to a generation whose political instincts were shaped by the internal American culture war that began in the 1960s. The baby boomers developed their political identities by fighting one another.</p>
    	</div>

        <div id="quiz-wrapper">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 quiz-table">
            
              <div class ='point-title-quiz'><h2>What line do you believe?</h2>
                <p>agree or disagree with these quotes to discover what side you are on</p>
              </div>

              <div id='quiz'></div>

              <div id="button-row">
                <button id='agree' class ='choiceButton' value='agree'>Agree</button>
                <button id='disagree' class ='choiceButton' value='disagree'>Disagree</button>
              </div> 

              <div id='score'></div>

              <div id="results"></div>

              <button id="restartButton">Reset</button>

            </div>
          </div>
        </div>    

    </div>
  </div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.sparkline.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="js/piechart.js" type="text/javascript" charset="utf-8" async defer></script>        
  <script src="js/visuals.js" type="text/javascript" charset="utf-8" async defer></script>	
  <script src="js/quiz.js" type="text/javascript" charset="utf-8" async defer></script>
  <script src="js/sparkline.js" type="text/javascript" charset="utf-8" async defer></script>
  <script src="js/sparkline2.js" type="text/javascript" charset="utf-8" async defer></script>
  <script>
    $('#restartButton').click(function() {
      console.log('pizza');
      location.reload();
    }); 
  </script>
</html>