/*http://codepen.io/gcarino/pen/LDgtn/
Dynamic JS Quiz*/

/*unsplash.com*/

body {
    font-family: Open Sans;
    font-family: 'Quattrocento', serif;
    /*title font font-weight: 400, 700;*/
    font-family: 'Fanwood Text', serif;
    /*body dont*/
}

h1 {
    text-align: center;
}

#title {
    text-decoration: underline;
}

#quiz {
    text-indent: 10px;
    display:none;
}

/*.button {
    border:4px solid;
    border-radius:5px;
    width: 40px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #DCDCDC;
    color: black;
    margin: 0 2px 0 2px;
}*/

/*.button.active {
    background-color: #F8F8FF;
    color: #525252;
}*/

/*button {
    position: relative;
    float:right;
}

.button a {
    text-decoration: none;
    color: black;
}*/

#container {
/*    width:50%;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: #1E90FF;*/
    border:4px solid #B0E0E6;
/*    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;*/
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
body{ margin:0px 0px; }

/*http://www.web2feel.com/creating-a-fullscreen-hero-div-for-your-site-header/*/
#hero{
  /*background-image:url(https://images.unsplash.com/photo-1432837600650-e430234b632a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=969fadd59386e3a52d05a48b7cd8be5d);*/
  background-image:url('../img/flag.jpeg');
  background-size:cover;
  position:relative;
  height:100vh;
}

.header{
    font-family: 'Quattrocento', serif; 
    font-weight: 400; 
/*    font-size: 40px;*/
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  font-size:45px;
  -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);  

}

#something{
  padding:100px 50px;
  text-align:center;
  width:80%;
  margin:0px auto;
}

#something h2{
  margin:0px 0px 30px 0px;
}

#footer{
  padding:30px 0px;
  text-align:center;
  background:#ddd;
}
/*div .agree{
    background: yellow;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    transition: opacity .5s;
}*/

/*div.agree p{
    font-weight: bold;
    font-color: white;
}*/

/*div .disagree{
    background: green;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    transition: opacity .5s;
}*/

/*#prev {
    display:none;
}
*/
/*#start {
    display:none;
    width: 90px;
}
