/*http://codepen.io/gcarino/pen/LDgtn/
Dynamic JS Quiz*/

/*unsplash.com*/

body {
    font-family: 'Fanwood Text', serif;
    font-weight: 400;
    text-align: justify;
    font-size: 18px;
}

h1 {
    text-align: center;
}



#title {
    text-decoration: underline;
}

#quiz {
    text-indent: 10px;
    display:none;
}

/*http://www.web2feel.com/creating-a-fullscreen-hero-div-for-your-site-header/*/
/*transition between 2 images*/
/*http://css3.bradshawenterprises.com/cfimg/*/
#hero{
  /*background-image:url(https://images.unsplash.com/photo-1432837600650-e430234b632a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=969fadd59386e3a52d05a48b7cd8be5d);*/
  background-image:url('../img/flag.jpeg');
  background-size:cover;
  position:relative;
  height:100vh;
}

.header{
    font-family: 'Quattrocento', serif; 
    font-weight: 400; 
/*    font-size: 40px;*/
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  font-size:45px;
  -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);  

}
.header.scrolled {
  opacity: 0.2;
  transition: all 1s ease;
}

div #intro{
    margin-top: 5em;
    margin-bottom: 5em;

}

#intro p{
    font-family: 'Fanwood Text', serif;
    font-weight: 400;
    font-size: 25px;
    text-align: justify;
}

.point-title h2{
    font-family: 'Quattrocento', serif;
    text-align: justify;
/*    font-style: bold;*/
}

.col-md-8.col-md-offset-2.quiz-table{
    text-align: center;
    border: 1px solid black;
}

.disagree{
    opacity: .5;
}

/*div.container-fluid{
    background-color: black;
    height: 220px;
}
div.container-fluid h2{
    color: white;
}*/

div.row.final-results{
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    height: 50%;
/*    border: 1px solid black;*/
}


/*#something{
  padding:100px 50px;
  text-align:center;
  width:80%;
  margin:0px auto;
}

#something h2{
  margin:0px 0px 30px 0px;
}*/

#footer{
  padding:30px 0px;
  text-align:center;
  background:white;
}

